/tripadv/target
/tripadv/lib
/tripadv/classes
/tripadv/checkouts
/tripadv/pom.xml
*.jar
*.class
/tripadv/.lein-*
/tripadv/profiles.clj
/tripadv/.env
/tripadv/.nrepl-port
/tripadv/log



/tripweb/target
/tripweb/lib
/tripweb/classes
/tripweb/checkouts
/tripweb/pom.xml
*.jar
*.class
/.lein-*
/tripweb/profiles.clj
/tripweb/.env
/tripweb/.nrepl-port
/tripweb/log
