[
 ;; user
 {:db/id #db/id[:db.part/db]
  :db/ident :user/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "A user's login"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's password"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/role
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's role"
  :db.install/_attribute :db.part/db}


;; trips

 {:db/id #db/id[:db.part/db]
  :db/ident :trip/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A trip's owner"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :trip/destination
  :db/fulltext true
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A trip name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :trip/comment
  :db/fulltext true
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A trip name"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :trip/startdate
  :db/fulltext true  
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A trip start date"
  :db.install/_attribute :db.part/db}


{:db/id #db/id[:db.part/db]
  :db/ident :trip/enddate
  :db/fulltext true  
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A trip end date"
  :db.install/_attribute :db.part/db}

 ]
